body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;

}

.h-one {

    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.h-one img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-img1 {
    width: 100%;
    height: 100%;
}

.h-two {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(108 156 255 / 50%);;
}

.n-one {

    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 2;
    
}



.nav-c {
    width: 100%;
}

.nav-d {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.nav-btn {
    display: flex;
   
    justify-content: flex-end;
    align-items: center;
    
}



.n-three {

    width: 90%;
    /* border: 2px solid; */
    color: #FFFFFF;
    border-radius: 22px;
    margin: 5px;
    box-shadow: rgba(28, 30, 31, 0.5) 3px 5px 5px 0px;
    width: 80%;

}


.n-img1 {
    height: 65px;

    margin-left: 23%;
}

.h-listcontrol {
    list-style: none;

    width: 90%;
    text-align: right;
    display: flex;

    align-items: center;
    justify-content: center;
    margin-top: 14px;
    color: white;
}

.nav-btn li {
    padding: 3px;
    display: flex;
    top: 0;
    background-color: #0074D9;
    color: black;

    margin: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}
.nav-btn li:hover{
    
    color:#0074D9;
    background-color: white;
}
.nav-btn li a:hover{
    color :#0074D9;
}
.menu-btn{
    /* background-color: pink; */
}
.h-listcontrol li a:hover{
    color: #0074D9;

}
.h-list-item {
    display: flex;

    margin: 0 33px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    height: 27px;

    padding-top: 9px;
}

.nav-extra {
    width: 88px;
    text-align: center;
    background: #07bd07;
    color: white;
    border-radius: 6px;
}

.h-h1 {
    text-align: center;

    color: white;
    width: 100%;
    /* margin: 58px; */
    margin-left: 20px;
    font-size: 2.9rem;
    display: inline-block;
}

.text {
    letter-spacing: 5px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(44),
        cursor .4s step-end infinite alternate;
        color:black
}

@keyframes cursor {
    10% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}



.full-section{
    background-image: linear-gradient(rgb(68 132 254 / 50%), white);
}

.text span {
    color: #0600c7;;
}
.h-flex-childs{
    background-color: white;
    box-shadow: black 3px 5px 5px 0px;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


.h-p2 {
    text-align: center;
    width: 62rem;
    padding:10px;

    font-size: 26px;
    color: whitesmoke;
    /* margin: 15px; */
}



.h-four {
    text-align: center;


    margin: 53px;
}

.h-btn1 {
    margin: auto;
    padding: 11px;
    width:10rem;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background: rgb(71, 127, 176);
    color:white;
    cursor: pointer;
}


.h-btn1:hover{
    transform: translateY(-5px);
    color:rgb(71, 127, 176);
    background-color: white;
}


.h-three {

    
    display: flex;
    align-items: center;
    justify-content: center;

}
.h-three-child {
    padding: 60px;
    /* margin: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.h-three-flexer {
    width: 80%;
    height: 100%;

    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.h-flex-childs {
    /* border: 1px solid red; */
    width: 10%;
    border-radius: 9px;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px black;
    cursor: pointer;
    margin: 16px 15px;
}

.h-icon1 {
    font-size: 31px;
    margin-left: 42px;
    margin-top: 18px;
    color: #3fb09d;
}

.h-p1 {
    /* border: 1px solid green; */
    text-align: center;
    color: #3fb09d;
}

.h-pmain {
    text-align: center;
    font-size: 35px;
    margin: 0px;
    padding: 6px;
}

.h-p-mainone {
    font-size: 30px;

    font-weight: 600;
    text-align: center;

    color: #3fb09d;
}

.overlay-nav {
    position: absolute;
    color: black;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: black;
    opacity: 0.8;
    z-index: 100;
}

.overlay-list {
    width: 100%;
    height: 100%;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.overlay-list-ele {
    /* border: 1px solid black; */
    height: 13%;

}

.overlay-para {
    /* border: 1px solid green; */
    font-size: 20px;
    font-weight: 600;
}

.overlay-para:hover {
    text-decoration: underline;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
    /* color: black; */
}

.slick-next {
    right: 3% !important;
    z-index: 1;
    /* color: black; */
}

.slick-prev:before,
.slick-next:before {
    color: red !important;
}


@media (max-width:1020px) {
    .h-h1 {
        font-size: 37px;
        /* border: 1px solid red; */
        width: 99%;

        .content {
            margin-top: -165px;
        }}

        .h-btn1 {
            padding: 1%;
            width: 15%;

            width: 13%;

            border-radius: 6px;
            border: none;
            background: #eded80;
            color: black;
            cursor: pointer;
        }

    

    .content {
        margin-top: -615px;
    }


    .h-listcontrol li {
        font-size: 10px;
    }

    .h-p2 {
        font-size: 15px;
        width: 90%;
        /* margin: auto; */
    }

    .nav-btn {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

   

    .n-one {
        padding: 0px;
        font-size: 5px;
    }

    .h-four {
        margin: 0px
    }

    .h-btn1 {
        padding: 3%;
        width: 44%;
        /* margin-top: 10px; */

    }

    .h-one {
        height: 500px;
    }

    .h-two {
        height: 500px;
    }

    .h-three {
        /* border: 1px solid red; */
        /* height: 400px; */
        /* height: 800px; */
        /* height: auto; */
    }

    .n-one-one {
        width: 100%;
    }

    .h-three-flexer {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* border: 1px solid green; */
        width: 99%;
        justify-content: space-evenly;
        margin: 0;
    }

    .card-container-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.card-two{
    box-shadow: 3px 3px 10px 3px black;
}
    .h-flex-childs {
        width: 25%;
        height: 8%;
        /* margin: 0; */

        /* margin-left: 0px; */
        margin: 3% 3%;

    }

    .h-icon1 {
        margin-left: 35%;
        font-size: 25px;
    }

    .h-p1 {
        font-size: 13px;
    }
}

@media (max-width:450px) {
    .h-h1 {

        margin-top: -261px;
        font-size: 0.33rem;
    }

    .h-btn1 {
        /* padding: 3%;  */

        padding: 5px;
        width: 4rem;
        font-size: 5px;
        border-radius: 6px;
        border: none;
        background: #eded80;
        color: black;
        cursor: pointer;

    }

    .h-p2 {
        font-size: 7px;
        width: 200px;
    }

    .content {
        margin-top: -165px;
    }

    nav {
        font-size: 10px;
    }
}