.ptc-one{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    height: 600px;
}

.ptc-two{
    width: 49%;
    height: 100%;
    /* border: 1px solid red; */
}

.ptc-imgone{
      /* border: 1px solid green; */
      width: 84%;
      height: 77%;
      margin: auto;
      margin-left: 8%;
      margin-top: 8%;
}


.ptc-btnone{
    border: none;
    margin-left: 53%;
    margin-top: 5%;
    width: 23%;
    height: 7%;
    font-size: 17px;
    background: #eded80;
    font-size: 15px;
    border-radius: 7px;
}
.ptc-btnone:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.ptc-h3{
    font-size: 25px;
    margin-left: 17.5%;
    margin-bottom: 0;
    color: #4cc84c;
}

.ptc-boxone{
    border-radius: 10px;
    border: 1px solid grey;
    width: 53%;
    height: 52%;
    margin-left: 4%;
    margin-top: 8%;
    box-shadow: 3px 3px 10px 3px rgb(196, 196, 196);
}


.ptc-pone{
    /* border: 1px solid green; */
    display: inline-block;
    margin: 0;
    margin-left: 17.5%;
}

.ptc-h2{
    color: teal;
    font-size: 35px;
    margin-left: 6%;
    font-size: 35px;
    margin-left: 6%;
    margin-top: 9%;
}

.ptc-ptwo{
    margin-left: 6%;
}

.ptc-two-child{
    /* border: 1px solid green; */
    height: 52%;
    width: 62%;
    margin-left: 31%;
    margin-top: 8%;
    background-color: #ccd7d5;
}

.ptc-btntwo{
    width: 29%;
    margin-left: 13%;
    background: #96dc96;
    border: none;
    height: 11%;
    border: 0.5px solid green;
    border-radius: 4px;
}
.ptc-btntwo:hover{
    cursor: pointer;
}

@media (max-width:820px){
    .ptc-one{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
    .ptc-two{
        width: 100%;
    }
    .ptc-imgone{
        margin: 5%  0% 0% 2%;
        width: 95%;
        height: 80%;
    }
    .ptc-two-child{
        /* margin-left: 5%; */
        margin: auto;
        width: 99%;
        height: 230px;
    }
    .ptc-btnone{
        margin-left: 32%;
        width: 35%;
        height: 40px;

    }
    .ptc-h3{
        margin-left: 5%;
    }
    .ptc-pone{
        margin-left: 5%;
    }
    .ptc-boxone{
        width: 100%;
        margin-left: 0;
        border: none;
        box-shadow: none;
        margin-bottom: 35px;
    }
    .ptc-btntwo{
        height: 35px;
    }
    .ptc-h2{
        font-size: 35px;
    }
}